@import 'Variables';

.container {
  background-color: $color1;
}

.containerBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media all and (min-width: 768px) {
}

@media all and (min-width: 1280px) {
}
