@import 'Variables';
@import 'Mixins';

.author {
  @include flexColumn();
  margin: 30px;
  margin-top: 10px;
  width: 260px;
}
.author__title {
  margin-bottom: 20px;
  font-family: $typoNeon;
  font-size: 30px;
  color: #fff;
  @include blueNeon();
}
.author__description {
  margin-top: 30px;
  font-size: 14px;
  font-weight: 200;
  font-family: $typo2;
  color: $color2;
}
.author__description--p {
  margin-bottom: 10px;
}

.bold {
  font-weight: bolder;
}

@media all and (min-width: 768px) {
  .author {
    width: 480px;
    margin-top: 30px;
  }
  .author__title {
    font-size: 50px;
  }
  .author__description {
    margin-top: 30px;
    font-size: 16px;
  }
}

@media all and (min-width: 1280px) {
}
