@import 'Variables';
@import 'Mixins';

.containerClue02 {
  background-color: $color2;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.containerMainClue02 {
  @include flexColumn();
}

.clue02 {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $color1;
  width: 300px;
  margin-top: 60px;
}

.clue02__text {
  width: 240px;
  margin-top: 30px;
}

.clue02__text--title {
  color: $color1;
  font-family: $typo2;
  font-size: 14px;
  margin-top: 10px;
}

.clue02__text--para1 {
  color: $color1;
  font-family: $typo2;
  margin-top: 15px;
  font-size: 14px;
}
.clue02__text--para2 {
  color: $color1;
  font-family: $typo2;
  font-size: 14px;
}
.clue02__text--paraBoldBlack {
  color: $color1;
  font-family: $typo2;
  font-size: 14px;
  font-weight: bold;
}
.clue02__text--paraBoldGray {
  color: $color5;
  font-family: $typo2;
  font-size: 14px;
  font-weight: bold;
}
.clue02__text--help {
  color: $color5;
  font-family: $typo2;
  font-size: 14px;
  margin-top: 20px;
}
.clue02__text--paraBoldGray:hover {
  color: $color6;
  transform: scale(1.1);
  transition: all 0.1s ease-in-out;
}
.clue02__form {
  margin-top: 30px;
  @include flexColumn();
}
.clue02__form--input {
  font-size: 14px;
  margin-right: 3px;
  width: 180px;
  height: 22px;
}

.clue02Nav__menu {
  @include flex();
  margin-top: 20px;
  margin-bottom: 20px;
  color: $color1;
}
.clue02Nav__menu--item {
  text-transform: uppercase;
  font-family: $typo1;
  font-size: 10px;
  margin-left: 5px;
  margin-right: 5px;
  color: $color1;
}
@media all and (min-width: 768px) {
  .clue02__text--title {
    font-size: 16px;
    margin-top: 40px;
    margin-bottom: 20px;
  }
  .clue02__text {
    width: 360px;
    margin-top: 0;
  }
  .clue02__text--para1 {
    font-size: 16px;
  }
  .clue02__text--para2 {
    font-size: 16px;
  }
  .clue02__text--help {
    font-size: 16px;
  }
  .clue02__text--paraBoldBlack {
    font-size: 16px;
  }
  .clue02__text--paraBoldGray {
    font-size: 16px;
  }
  .clue02__form {
    margin-top: 40px;
    width: 360px;
  }
  .clue02__form--input {
    font-size: 16px;
    margin-right: 5px;
    width: 280px;
    height: 22px;
  }
  .clue02Nav__menu {
    margin-top: 20px;
  }
  .clue02Nav__menu--item {
    font-size: 12px;
  }
}

@media all and (min-width: 1280px) {
}
