@import 'Variables';
@import 'Mixins';

.containerClue01 {
  background-color: $color2;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
.containerMainClue01 {
  @include flexColumn();
}

.clue01 {
  @include flexColumn();
  color: $color1;
  width: 300px;
  height: 400px;
  margin-top: 50px;
}

.clue01__text {
  width: 240px;
  margin-top: 10px;
}

.clue01__text--para {
  color: $color1;
  font-family: $typo2;
  margin-top: 10px;
  font-size: 14px;
}

.clue01__form {
  margin-top: 30px;
  @include flexColumn();
}

.clue01__form--input {
  font-size: 14px;
  margin-right: 3px;
}

.clue01Nav__menu {
  @include flex();
  margin-top: 20px;
  margin-bottom: 20px;
  color: $color1;
}
.clue01Nav__menu--item {
  text-transform: uppercase;
  font-family: $typo1;
  font-size: 10px;
  margin-left: 5px;
  margin-right: 5px;
  color: $color1;
}
@media all and (min-width: 768px) {
  .clue01__form--input {
    font-size: 16px;
    margin-right: 5px;
  }
  .clue01Nav__menu--item {
    font-size: 12px;
  }
  .clue01__text {
    width: 360px;
    margin-top: 0;
  }

  .clue01__text--para {
    margin-top: 15px;
    font-size: 16px;
  }
}

@media all and (min-width: 1280px) {
}
