@import 'Variables';
@import 'Mixins';

.containerClue02 {
  background-color: $color2;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
.containerMainClue02 {
  @include flexColumn();
}

.clue02 {
  @include flexColumn();
  color: $color1;
  width: 300px;
  height: 400px;
  margin-top: 50px;
}
.clue02__title {
  color: $color1;
  font-family: $typo2;
  font-size: 14px;
  margin-top: 10px;
}
.clue02__text {
  width: 240px;
  margin-top: 10px;
}

.clue02__text--para {
  color: $color1;
  font-family: $typo2;
  margin-top: 10px;
  font-size: 14px;
}
.clue02__form {
  margin-top: 30px;
  @include flexColumn();
}

.clue02Nav__menu {
  @include flex();
  margin-top: 20px;
  margin-bottom: 20px;
  color: $color1;
}
.clue02Nav__menu--item {
  text-transform: uppercase;
  font-family: $typo1;
  font-size: 10px;
  margin-left: 5px;
  margin-right: 5px;
  color: $color1;
}
