@import 'Variables';
@import 'Mixins';

.clue01 {
  color: $color1;
  background-color: $color2;
  width: 300px;
  height: 400px;
  @include flexColumn();
}

.clue01__title {
  color: $color1;
}
.clue01__form {
  margin-top: 30px;
  @include flexColumn();
}

.clue01Nav__menu {
  @include flex();
  margin-top: 20px;
  margin-bottom: 20px;
  color: $color1;
}
.clue01Nav__menu--item {
  text-transform: uppercase;
  font-family: $typo1;
  font-size: 10px;
  margin-left: 5px;
  margin-right: 5px;
  color: $color1;
}
