@import 'Variables';
@import 'Mixins';

.containerSoon {
  background-color: $color1;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
.containerMainSoon {
  @include flexColumn();
}
.soon {
  @include flexColumn();
  width: 280px;
}

.soon__titleEs {
  margin-bottom: 50px;
  font-family: $typoNeon;
  font-size: 18px;
  color: #fff;
  @include redNeon();
}
.soon__titleEn {
  margin-bottom: 50px;
  font-family: $typoNeon;
  font-size: 18px;
  color: #fff;
  @include blueNeon();
}

.soon__title {
  font-family: $typoNeon;
  font-size: 30px;
  color: #fff;
  @include redNeon();
}

@media all and (min-width: 768px) {
  .soon {
    width: 480px;
  }
  .soon__titleEs {
    margin-bottom: 100px;
    font-size: 22px;
  }
  .soon__titleEn {
    margin-bottom: 100px;
    font-size: 22px;
  }

  .soon__title {
    font-size: 32px;
  }
}

@media all and (min-width: 1280px) {
}
