@import 'Variables';
@import 'Mixins';

.crossword {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  color: $color1;
  font-family: $typo2;
  font-size: 14px;
}
.crossword__empty {
  border: 1px solid $color2;
  background-color: $color2;
  width: 20px;
  height: 20px;
  cursor: none;
}
.containerInput__label {
  position: absolute;
  color: $color5;
  font-size: 10px;
  margin-left: 2px;
}
.containerInput__twoSidesRightLeft {
  @include twoSidesRightLeft();
  @include inputBorderSides();
}
.containerInput__twoSidesRightLeftCorrect {
  @include twoSidesRightLeft();
  @include inputBorderSidesCorrect();
}
.containerInput__twoSidesTopBottom {
  border-top: 1px solid $color1;
  border-right: none;
  border-bottom: 1px solid $color1;
  border-left: none;
  @include inputBorderSides();
}
.containerInput__threeSidesU {
  border-top: none;
  border-right: 1px solid $color1;
  border-bottom: 1px solid $color1;
  border-left: 1px solid $color1;
  @include inputBorderSides();
}
.containerInput__threeSidesUinverted {
  border-top: 1px solid $color1;
  border-right: 1px solid $color1;
  border-bottom: none;
  border-left: 1px solid $color1;
  @include inputBorderSides();
}
.containerInput__threeSidesC {
  border-top: 1px solid $color1;
  border-right: none;
  border-bottom: 1px solid $color1;
  border-left: 1px solid $color1;
  @include inputBorderSides();
}
.containerInput__threeSidesCinverted {
  border-top: 1px solid $color1;
  border-right: 1px solid $color1;
  border-bottom: 1px solid $color1;
  border-left: none;
  @include inputBorderSides();
}
.containerInput__fourSides {
  border: 1px solid $color1;
  @include inputBorderSides();
}
.containerInput__inputCorrect {
  border: 1px solid $color1;
  background-color: $color7;
  color: $color1;
  text-align: center;
  display: inline-block;
  width: 20px;
  height: 20px;
  cursor: context-menu;
}
