@import 'Variables';
@import 'Mixins';

.crossword {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  color: $color1;
  font-family: $typo2;
  font-size: 14px;
}
.crossword__empty {
  border: 1px solid $color2;
  background-color: $color2;
  width: 20px;
  height: 20px;
  cursor: none;
}
.containerInput__label {
  position: absolute;
  color: $color5;
  font-size: 10px;
  margin-left: 2px;
}
.containerInput__twoSidesRightLeft {
  @include twoSidesRightLeft();
  @include inputBorderSides();
}
.containerInput__twoSidesRightLeftCorrect {
  @include twoSidesRightLeft();
  @include inputBorderSidesCorrect();
}
.containerInput__twoSidesTopBottom {
  @include twoSidesTopBottom();
  @include inputBorderSides();
}
.containerInput__twoSidesTopBottomCorrect {
  @include twoSidesTopBottom();
  @include inputBorderSidesCorrect();
}
.containerInput__threeSidesU {
  @include threeSidesU();
  @include inputBorderSides();
}
.containerInput__threeSidesUCorrect {
  @include threeSidesU();
  @include inputBorderSidesCorrect();
}
.containerInput__threeSidesUinverted {
  @include threeSidesUinverted();
  @include inputBorderSides();
}
.containerInput__threeSidesUinvertedCorrect {
  @include threeSidesUinverted();
  @include inputBorderSidesCorrect();
}
.containerInput__threeSidesC {
  @include threeSidesC();
  @include inputBorderSides();
}
.containerInput__threeSidesCCorrect {
  @include threeSidesC();
  @include inputBorderSidesCorrect();
}
.containerInput__threeSidesCinverted {
  @include threeSidesCinverted();
  @include inputBorderSides();
}
.containerInput__threeSidesCinvertedCorrect {
  @include threeSidesCinverted();
  @include inputBorderSidesCorrect();
}
.containerInput__fourSides {
  border: 1px solid $color1;
  @include inputBorderSides();
}
.containerInput__fourSidesCorrect {
  border: 1px solid $color1;
  @include inputBorderSidesCorrect();
}
// sustituir en crossword.js y borrar
.containerInput__inputCorrect {
  border: 1px solid $color1;
  background-color: $color7;
  color: $color1;
  text-align: center;
  display: inline-block;
  width: 20px;
  height: 20px;
  cursor: context-menu;
}
