@import 'Variables';
@import 'Mixins';

.crossword {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  color: $color1;
  font-family: $typo2;
  font-size: 14px;
}
.crossword__empty {
  border: 1px solid $color8;
  background-color: $color8;
  width: 20px;
  height: 20px;
  cursor: none;
}

.crossword__full {
  border: 1px solid $color1;
  background-color: $color2;
  color: $color1;
  text-align: center;
  display: inline-block;
  width: 20px;
  height: 20px;
  cursor: context-menu;
}
.crossword__correct {
  border: 1px solid $color1;
  background-color: $color7;
  color: $color1;
  text-align: center;
  display: inline-block;
  width: 20px;
  height: 20px;
  cursor: context-menu;
}

// // Squares intersect 4 sides
// .crossword__full2 {
//   border: none;
//   background-color: $color2;
//   color: $color1;
//   text-align: center;
//   display: inline-block;
//   width: 20px;
//   height: 20px;
//   cursor: context-menu;
// }
