@import 'Variables';

.footer {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 50px;
  width: 100%;
}
.footer__copy {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: $typo1;
  font-size: 12px;
  font-weight: 400;
  color: $color2;
}
.footer__copy--link {
  cursor: pointer;
}
.footer__copy--link:hover {
  font-weight: 900;
}

@media all and (min-width: 768px) {
  .footer__copy {
    font-size: 14px;
  }
}

@media all and (min-width: 1280px) {
}
