@import 'Variables';

.form {
  display: flex;
  justify-content: center;
  align-items: center;
}
.form__button {
  width: 60px;
  height: 30px;
  // margin: 30px 214px 0 0;
  // padding: 0 25px 0 26px;
  // font-size: 20px;
  border-radius: 20px;
  border: solid 2px $color3;
  background-color: $color2;
  color: $color3;
}
.form__button:hover {
  color: $color2;
  background-color: $color3;
  border: none;
  outline: none;
  transition: all 1s;
}
@media all and (min-width: 768px) {
}

@media all and (min-width: 1280px) {
}
