@import 'Variables';

.game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px;
  margin-top: 10px;
  width: 260px;
}
.game__title {
  margin-bottom: 20px;
  font-family: $typoNeon;
  font-size: 30px;
  color: #fff;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px $color4, 0 0 82px $color4, 0 0 92px $color4,
    0 0 102px $color4, 0 0 151px $color4;
}

.game__lang {
  width: 260px;
  display: flex;
  text-transform: uppercase;
  font-size: 12px;
  font-family: $typo1;
  margin-top: 10px;
}
.game__lang--item {
  margin-left: 5px;
  margin-right: 5px;
}

.game__description {
  margin-top: 30px;
  font-size: 14px;
  font-weight: 200;
  font-family: $typo2;
  color: $color2;
}
.game__description--p {
  margin-bottom: 10px;
}

.menu {
  width: 260px;
  margin-top: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 12px;
  font-family: $typo2;
  font-weight: 200;
}
.menu__item {
  text-transform: uppercase;
  margin-left: 5px;
  margin-right: 5px;
}
.menu__item--icon {
}

@media all and (min-width: 768px) {
  .game {
    width: 480px;
    margin-top: 30px;
  }
  .game__title {
    font-size: 50px;
  }
  .game__lang {
    width: 480px;
    font-size: 16px;
  }
  .game__description {
    margin-top: 30px;
    font-size: 16px;
  }
  .menu {
    width: 480px;
    font-size: 14px;
  }
}

@media all and (min-width: 1280px) {
}
