@import 'Variables';
@import 'Mixins';

.containerHelp01 {
  background-color: $color2;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.headerHelp01 {
  @include flex();
}
.containerMainHelp01 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.help01 {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $color1;
  width: 300px;
  height: 400px;
  margin-top: 60px;
}
.help01__paws {
  width: 240px;
}
.help01__paws--1 {
  margin-bottom: 10px;
  margin-left: 30px;
}
.help01__text {
  @include flexColumnLeft();
  width: 240px;
  margin-top: 50px;
}

.help01__text--title {
  color: $color1;
  font-family: $typo2;
  font-size: 14px;
}

.help01__text--subtitle {
  color: $color1;
  font-family: $typo2;
  font-size: 14px;
  margin-top: 10px;
}

.help01__text--btn {
  color: $color1;
  font-family: $typo2;
  font-size: 14px;
  margin-top: 10px;
  text-transform: uppercase;
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  font-weight: bold;
}
.help01__text--btn:hover {
  color: burlywood;
  transform: scale(1.1);
  transition: all 0.1s ease-in-out;
}

.help01__text--sec {
  color: $color1;
  font-family: $typo2;
  font-size: 14px;
  margin-top: 10px;
}

.fas,
.fa-paw {
  color: $color1;
  font-size: 30px;
  color: burlywood;
  margin-right: 30px;
}

.help01Nav {
  margin-top: 10px;
}

.help01Nav__menu {
  @include flex();
  color: $color1;
}
.help01Nav__menu--item {
  text-transform: uppercase;
  font-family: $typo1;
  font-size: 10px;
  margin-left: 5px;
  margin-right: 5px;
  color: $color1;
}
