@import 'Variables';
@import 'Mixins';

.help01Clue4__text {
  color: $color1;
  font-family: $typo2;
  font-size: 14px;
  margin-top: 10px;
}
.help01Clue4__img {
  background: url('../images/01help/help01-clue4.JPG') no-repeat;
  background-size: contain;
  background-position: center center;
  width: 260px;
  height: 195px;
}

@media all and (min-width: 768px) {
  .help01Clue4__text {
    font-size: 16px;
    margin-top: 15px;
  }
  .help01Clue4__img {
    width: 400px;
    height: 300px;
  }
}

@media all and (min-width: 1280px) {
}
