@import 'Variables';

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home__image {
  background: url('../images/rocky-1-320.png') no-repeat;
  background-size: contain;
  background-position: center center;
  width: 320px;
  height: 240px;
}
.home__title {
  font-family: $typo2;
  font-size: 30px;
}

.home__btn {
  width: 50px;
  height: 50px;
  background: none;
  color: inherit;
  border: none;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
.home__btn--img {
  width: 100%;
}

@media all and (min-width: 768px) {
  // creo que está un poco grande la imagen, ver si cambio tamaño en photoshop
  .home__image {
    background: url('../images/rocky-1-500.png') no-repeat;
    width: 500px;
    height: 375px;
  }
}

@media all and (min-width: 1280px) {
}
