@import 'Variables';
@import 'Mixins';

.containerInstructions {
  background-color: $color2;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
.containerMainInstructions {
  @include flexColumn();
}

.instructions {
  width: 240px;
  margin-top: 10px;
}
.instructions__title {
  color: $color1;
  font-family: $typo2;
  font-size: 15px;
  margin-top: 10px;
  text-transform: uppercase;
}
.instructions__subtitle {
  color: $color1;
  font-family: $typo2;
  font-size: 12px;
  margin-top: 5px;
  text-transform: capitalize;
}

.instructions__text--para {
  color: $color1;
  font-family: $typo2;
  margin-top: 10px;
  font-size: 14px;
}

.instructionsBtn {
  margin-top: 20px;
  margin-bottom: 20px;
}
.instructionsBtn__link {
  color: $color1;
  font-size: 12px;
  padding-right: 5px;
  padding-left: 5px;
}
.instructionsNav__menu {
  @include flex();
  margin-top: 10px;
  margin-bottom: 20px;
  color: $color1;
}
.instructionsNav__menu--item {
  text-transform: uppercase;
  font-family: $typo1;
  font-size: 10px;
  margin-left: 5px;
  margin-right: 5px;
  color: $color1;
}
.instructions__image {
  background: url('../images/instructions/instructions-320.png') no-repeat;
  background-size: contain;
  background-position: center center;
  width: 320px;
  height: 240px;
  margin-top: 50px;
  margin-bottom: 30px;
}
