@import 'Variables';
@import 'Mixins';

.containerInstructions {
  background-color: $color2;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
.containerMainInstructions {
  @include flexColumn();
}

.instructions {
  width: 240px;
  margin-top: 10px;
}
.instructions__title {
  color: $color1;
  font-family: $typo2;
  font-size: 15px;
  margin-top: 10px;
  text-transform: uppercase;
}
.instructions__subtitle {
  color: $color1;
  font-family: $typo2;
  font-size: 12px;
  margin-top: 5px;
}

.instructions__text--para {
  color: $color1;
  font-family: $typo2;
  margin-top: 10px;
  font-size: 14px;
}

.instructionsBtn {
  color: $color1;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 12px;
  padding-right: 5px;
  padding-left: 5px;
}
