@import 'Variables';

@mixin flex() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flexColumn() {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin flexColumnLeft() {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

@mixin redNeon() {
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px $color3, 0 0 82px $color3, 0 0 92px $color3,
    0 0 102px $color3, 0 0 151px $color3;
}

@mixin blueNeon() {
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px $color4, 0 0 82px $color4, 0 0 92px $color4,
    0 0 102px $color4, 0 0 151px $color4;
}

@mixin inputBorderSides() {
  background-color: $color2;
  color: $color1;
  text-align: center;
  display: inline-block;
  width: 20px;
  height: 20px;
  cursor: context-menu;
}
@mixin inputBorderSidesCorrect() {
  background-color: $color7;
  color: $color1;
  text-align: center;
  display: inline-block;
  width: 20px;
  height: 20px;
  cursor: context-menu;
}
@mixin twoSidesRightLeft() {
  border-top: none;
  border-right: 1px solid $color1;
  border-bottom: none;
  border-left: 1px solid $color1;
}

// .containerInput__twoSidesTopBottom {
//   border-top: 1px solid $color1;
//   border-right: none;
//   border-bottom: 1px solid $color1;
//   border-left: none;
//   @include inputBorderSides();
// }
// .containerInput__threeSidesU {
//   border-top: none;
//   border-right: 1px solid $color1;
//   border-bottom: 1px solid $color1;
//   border-left: 1px solid $color1;
//   @include inputBorderSides();
// }
// .containerInput__threeSidesUinverted {
//   border-top: 1px solid $color1;
//   border-right: 1px solid $color1;
//   border-bottom: none;
//   border-left: 1px solid $color1;
//   @include inputBorderSides();
// }
// .containerInput__threeSidesC {
//   border-top: 1px solid $color1;
//   border-right: none;
//   border-bottom: 1px solid $color1;
//   border-left: 1px solid $color1;
//   @include inputBorderSides();
// }
// .containerInput__threeSidesCinverted {
//   border-top: 1px solid $color1;
//   border-right: 1px solid $color1;
//   border-bottom: 1px solid $color1;
//   border-left: none;
//   @include inputBorderSides();
