@import 'Variables';

.photoPiece {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.column__img,
.column__letter {
  position: absolute;
  color: $color1;
  font-size: 30px;
  text-transform: uppercase;
}
