@import 'Variables';
@import 'Mixins';

.containerRocky {
  background-color: $color1;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
.containerMainRocky {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.rocky {
  @include flexColumn();
  margin: 30px;
  margin-top: 10px;
  width: 260px;
}
.rocky__title {
  margin-bottom: 20px;
  font-family: $typoNeon;
  font-size: 30px;
  color: #fff;
  @include blueNeon();
}
.rocky__description {
  margin-top: 30px;
  font-size: 14px;
  font-weight: 200;
  font-family: $typo2;
  color: $color2;
}
.rocky__description--p {
  margin-bottom: 15px;
}

.menu {
  width: 260px;
  margin-top: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 12px;
  font-family: $typo2;
  font-weight: 200;
}
.menu__item {
  text-transform: uppercase;
  margin-left: 5px;
  margin-right: 5px;
}
.menu__item:hover {
  color: #fff;
  @include blueNeon();
  transform: scale(1.1);
  transition: all 0.1s ease-in-out;
}

.bold {
  font-weight: bolder;
}

.rocky__image {
  background: url('../images/rocky/rocky-wire-1-320.png') no-repeat;
  background-size: contain;
  background-position: center center;
  width: 320px;
  height: 240px;
}

@media all and (min-width: 768px) {
  .containerMainRocky {
    margin-top: 50px;
  }
  .rocky {
    width: 480px;
    margin-top: 30px;
  }
  .rocky__title {
    font-size: 50px;
  }
  .rocky__description {
    margin-top: 30px;
    font-size: 16px;
  }
  .rocky__description--p {
    margin-bottom: 20px;
  }

  .menu {
    width: 480px;
    font-size: 14px;
  }
  .rocky__image {
    background: url('../images/rocky/rocky-wire-1-500.png') no-repeat;
    background-size: contain;
    background-position: center center;
    width: 500px;
    height: 375px;
  }
}

@media all and (min-width: 1280px) {
}
