@import 'Variables';
@import 'Mixins';

.rocky {
  @include flexColumn();
  margin: 30px;
  margin-top: 10px;
  width: 260px;
}
.rocky__title {
  margin-bottom: 20px;
  font-family: $typoNeon;
  font-size: 30px;
  color: #fff;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px $color4, 0 0 82px $color4, 0 0 92px $color4,
    0 0 102px $color4, 0 0 151px $color4;
}
.rocky__description {
  margin-top: 30px;
  font-size: 14px;
  font-weight: 200;
  font-family: $typo2;
  color: $color2;
}
.rocky__description--p {
  margin-bottom: 15px;
}

.menu {
  width: 260px;
  margin-top: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 12px;
  font-family: $typo2;
  font-weight: 200;
}
.menu__item {
  text-transform: uppercase;
  margin-left: 5px;
  margin-right: 5px;
}
.menu__item:hover {
  color: #fff;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px $color4, 0 0 82px $color4, 0 0 92px $color4,
    0 0 102px $color4, 0 0 151px $color4;
  transform: scale(1.1);
  transition: all 0.1s ease-in-out;
}

.bold {
  font-weight: bolder;
}

@media all and (min-width: 768px) {
  .rocky {
    width: 480px;
    margin-top: 30px;
  }
  .rocky__title {
    font-size: 50px;
  }
  .rocky__description {
    margin-top: 30px;
    font-size: 16px;
  }
  .rocky__description--p {
    margin-bottom: 20px;
  }

  .menu {
    width: 480px;
    font-size: 14px;
  }
}

@media all and (min-width: 1280px) {
}
