// colors
$color1: black;
$color2: white;
$color3: red;

//typography

$typo1: 'Bad Script', cursive;
$typo2: 'Petit Formal Script', cursive;
$typo3: 'Calligraffitti', cursive;
$typo4: 'Liu Jian Mao Cao', cursive;
$typo5: 'Roboto', sans-serif;
$typo6: 'Roboto Condensed', sans-serif;
