// colors
$color1: black;
$color2: white;
$color3: red;
$color4: blue;

//typography

$typo1: 'Roboto', sans-serif;
$typo2: 'Roboto Condensed', sans-serif;
$typo3: 'Bad Script', cursive;
$typo4: 'Petit Formal Script', cursive;
$typo5: 'Calligraffitti', cursive;
$typo6: 'Liu Jian Mao Cao', cursive;
$typo7: 'Nixie One', cursive;
$typo8: 'Vibur', cursive;
