// colors
$color1: black;
$color2: white;
$color3: red;
$color4: blue;
$color5: #54585a;

//typography
$typo1: 'Roboto', sans-serif;
$typo2: 'Roboto Condensed', sans-serif;
$typo3: 'Open Sans', sans-serif;
$typoNeon: 'Nixie One', cursive;
